body {
  font-family: "Iosevka" !important;
  font-size: 15px;
}

code {
  font-family: "Iosevka" !important;
  font-size: 15px;
}

pre code {
  font-family: "Iosevka" !important;
  font-size: 15px;
}
